.sect {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.sub {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.part {
    width: 50%;
}




.header-section {
    background-color: #e8e8ea;
    padding: 15px 0px;
}

.first_section .container-fluid {
    background-image: url(../images/img_1st_sect_back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 720px;
    width: 100%;
    position: relative;
}
/* .header-section {
    background-color: #e8e8ea;
    padding: 15px 0px;
    display: flex;
    justify-content: space-between;
} */

.logo img {
    margin-top: 20px;
}
.header-nav-left li {
    display: inline;
    margin-right: 20px;
}
.header-nav-right li {
    display: inline;
    margin-right: 20px;
}

.heading h4 {
    font-size: 12px;
    color: white;
    font-weight: 600;
    /* margin-top: 50px; */
    font-size: 14px;
    font-family: sans-serif;
}
.heading {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}
.heading i {
    color: white;
    margin-top: 9px;
    font-size: 20px;
}

.first-sect-middle-part {
    display: flex;
    align-items: center;
    color: white;
}
.first-sect-middle-part i {
    font-size: 22px;
    margin-right: 10px;
}

.first_right {
    width: 24%;
    display: flex;
    justify-content: space-around;
}

.first_right h3 {
    color: white;
    margin: 5px 0;
}
.lang {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.chatnow {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.first_right.sub i {
    color: white;
    font-size: 25px;
}
.heading\+btn_apply {
    color: white;
    text-align: center;
    margin-top: 15px;
    /* position: absolute;
    top: 33%;
    left: 18%; */
}
.heading\+btn_apply h3 {
    font-size: 22px;
    margin-bottom: 32px;
}
.heading\+btn_apply h1 {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 65px;
    margin-bottom: 62px;
}

.heading\+btn_apply a {
    padding: 15px 45px;
    border: 1px solid;
    border-color: #c0846d;
    background-color: #c0846d;
    color: white;
    border-radius: 7px;
    font-size: 15px;
}
/* first section end here  */

/* second section start */
.second_section .container-fluid {
background-image: url(../images/img_2nd_sect_back.png);
background-size: cover;
}
.second_left {
    width: 40%;
    justify-content: space-between;
    display: flex;
    margin-top: 20px;
    text-align: center;
}

.second_left p {
    margin-top: 10px;
    margin-bottom: 30px;
}
/* second section end */



/* third section start */
.third_section {
    margin-top: 50px;
    padding-bottom: 20px;
}
.third_sect {
    display: flex;
    justify-content: space-between;
}
.third_left img {
    width: 93%;
}
.third_right h4 {
    font-weight: 600;
}
.third_right h1 {
    font-size: 53px;
    /* font-family: sans-serif; */
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
.third_right p {
    margin-bottom: 50px;
}

.third_right a {
    padding: 15px 45px;
    border: 1px solid;
    border-color: #c0846d;
    background-color: #c0846d;
    color: white;
    border-radius: 7px;
    font-size: 15px;
}




/* third section end */

/* fourth section start */
.fourth-section .container-fluid {
    background-image: url(../images/img_4th_sect_back.png);
    background-size: cover;
    height: 548px;
    margin: 50px 0px;
    display: flex;
    align-items: center;
    color: white;
}
.fourth-left-part{
    width: 40%;
}
.fourth-left-part h1 {
    font-weight: 600;
    font-size: 41px;
}
/* fourth section end */


 /* fiveth section start  */
 .fiveth-section {
    padding: 50px 0;
}

.fiveth_left.part img {
    width: 95%;
}

.fiveth_right h1 {
    font-size: 44px;
    /* font-family: sans-serif; */
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    margin-bottom: 30px;
}

.fiveth_right p {
    margin-bottom: 50px;
}
.fiveth_right a {
    padding: 15px 45px;
    border: 1px solid;
    border-color: #c0846d;
    background-color: #c0846d;
    color: white;
    border-radius: 7px;
    font-size: 15px;
}
 /* fiveth section end  */


    /* sixth section start  */

.sixth-section {
    margin-bottom: 25px;
}
.sixth-section .container-fluid {
    background-image: url(../images/img_6th_sect_back.png);
    height: 575px;
}

.sixth-sect {
    padding-top: 50px;
    color: white;
    display: flex;
    margin-top: 50px;
}

.sixth_left img {
    padding-top: 10px;
    margin-right: 50px;
    margin-top: 20px;
    width: 90%;
}
         /* sixth section end  */


 /* seventh-section :start */

 .border-bottom h1 {
    font-family: 'Poppins';
    text-align: center;
    border-bottom: 1px solid;
    padding-bottom: 14px;
    font-size: 40px;
}

.four-part {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.imgs {
    width: 23%;
}
.imgs img {
    width: 100%;
}
/* .imgs h1 {
    width: 32%;
}
.imgs p {
    width: 32%;
} */
 /* seventh-section end */


 /* eight section start here  */
 .eight-box {
    width: 31%;
}
 .eight-box img {
    width: 100%;
}
.eight-sect.sect {
    margin: 30px 0;
}
 /* eight section end here  */


 /* footer section start here  */
 .footer-section {
    background-image: url(../images/footer-back.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.footer-center {
    width: 40%;
    margin: auto;
    text-align: center;
    padding: 40px 0;
}
.footer-social-icons i {
    font-size: 34px;
    margin-top: 16px;
    margin-right: 24px;
    border: 1px solid;
    color: black;
    background: white;
    width: 14%;
    height: 60PX;
    padding: 12px 8px;
    border-radius: 35px;
}
.footer-bottom {
    border-top: 1px solid white;
}
.footerbottom-sect p {
    width: 60%;
    text-align: center;
    margin: auto;
    color: white;
    padding: 15px 0;
    margin-bottom: 0 !important;
}
 /* footer section end here  */
